# Build script for dotliquid, see https://www.appveyor.com/docs/appveyor-yml for reference
version: 2.0.{build}

branches:
  only:
    - master

configuration:
  - Release

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}-$(GIT_HASH)"

install:
  - cmd: dotnet restore

build:
  verbosity: minimal # quiet|minimal|normal|detailed
  project: src/DotLiquid.sln
  publish_nuget: true
  publish_nuget_symbols: true

after_build:
  - cmd: md build\pkg
  - cmd: nuget pack src/DotLiquid/DotLiquid.nuspec -Symbols -Version "%APPVEYOR_BUILD_VERSION%" -OutputDirectory build\pkg

test:
  assemblies:
    # Disabled: ‍‍Could not load file or assembly 'nunit.framework' or one of its dependencies. The system cannot find the file specified.
    # - '**\bin\Release\netcoreapp1.0\*.Tests.dll'
    - '**\bin\Release\net451\win7-x64\*.Tests.dll'
  categories:
    except:
      - windows


artifacts:
- path: build\pkg\*.nupkg
  name: Nuget Package

nuget:
  project_feed: true

deploy:
- provider: NuGet
  api_key:
    secure: LrIeQprS+E5FzLkdKGYIYHXy/86Kt8YVhTa4J/VhLzGUO+yXnqI+GxDR+K5Wj/VL
  skip_symbols: false
  artifact: /.*\.nupkg/

notifications:
  - provider: Email
    to:
      - henrik@haf.se
    on_build_status_changed: true
