# Build script for dotliquid, see https://www.appveyor.com/docs/appveyor-yml for reference
version: 2.0.{build}
image: Visual Studio 2017

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml

configuration:
  - Release

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}-$(APPVEYOR_REPO_COMMIT)"

install:
  - cmd: choco install opencover.portable -y
  - cmd: choco install codecov -y
  - cmd: dotnet restore src

build:
  verbosity: minimal # quiet|minimal|normal|detailed
  project: src/DotLiquid.sln
  publish_nuget: true
  publish_nuget_symbols: true

after_build:
  - cmd: md build\pkg
  - cmd: nuget pack src/DotLiquid/DotLiquid.nuspec -Symbols -Version "%APPVEYOR_BUILD_VERSION%" -OutputDirectory build\pkg

test_script:
  - ls "c:"
  - where nunit3-console
  - opencover.console -target:"C:\Tools\NUnit3\bin\nunit3-console.exe" -targetargs:"src\DotLiquid.Tests\bin\Release\net451\DotLiquid.Tests.dll --where=cat!=windows --result=TestsResults.xml;format=AppVeyor" -output:TestsCoverage.xml -register:user -returntargetcode
  - codecov -f TestsCoverage.xml

artifacts:
- path: build\pkg\*.nupkg
  name: Nuget Package

nuget:
  project_feed: true

deploy:
- provider: NuGet
  api_key:
    secure: LrIeQprS+E5FzLkdKGYIYHXy/86Kt8YVhTa4J/VhLzGUO+yXnqI+GxDR+K5Wj/VL
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
    branch: master
