@{
    ViewBag.IncludePrism = true;
}
<div id="docs-content">
<markdown>

# Filters

Available standard filters are defined in the [StandardFilters.cs](https://github.com/dotliquid/dotliquid/blob/master/src/DotLiquid/StandardFilters.cs) file.


</markdown>
</div>