@{
    ViewBag.IncludePrism = true;
}
<div id="content">
    <h1>What is DotLiquid?</h1>
    <p>
        DotLiquid is a templating system ported to the .net framework from
        Ruby’s <a href="https://shopify.github.io/liquid/">Liquid Markup</a>.
    </p><blockquote><p>It’s <strong>easy</strong> to learn, <strong>fast</strong> and <strong>safe</strong></p></blockquote><p>
        You can have
        your users build their own templates without affecting your server security in any way.
    </p>

    <h2>Requirements</h2>
    <p>.NET Framework 4.5 or above.</p>

    <h2>License</h2>
    <p>
        DotLiquid is intended to be used in both open-source and commercial environments. To allow its use in as many
        situations as possible, DotLiquid is dual-licensed. You may choose to use DotLiquid under either the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
        , or the <a href="http://www.microsoft.com/opensource/licenses.mspx#Ms-PL">Microsoft Public License (Ms-PL)</a>. These licenses are essentially identical, but you are
        encouraged to evaluate both to determine which best fits your intended use.
    </p>

    <h2>Around the web</h2>
    <ul>
        <li><a href="http://blog.novanet.no/generate-html-in-the-backend/">Generate HTML in the backend [using DotLiquid]</a></li>
        <li><a href="https://mattbrailsford.wordpress.com/2012/05/13/dotliquid-viewengine-now-available-on-the-nuget-gallery/">DotLiquid ViewEngine Now Available On The NuGet Gallery</a></li>
        <li><a href="http://www.infoq.com/news/2011/12/Liquid-Markup">Safe User-Generated Templates for Ruby and .NET</a></li>
        <li><a href="http://www.parago.de/blog/2011/05/04/how-to-implement-a-generic-template-engine-for-sharepoint-2010-using-dotliquid.html">How To Implement A Template Engine For SharePoint Using DotLiquid</a></li>
        <li><a href="http://timjones.io/blog/archive/2010/10/25/introducing-dotliquid-the-secure-open-source-template-engine">Introducing DotLiquid: the secure, open-source template engine for .NET</a></li>
    </ul>
</div>
<div id="side">
    <h1>What does it look like?</h1>
    <pre class="sample-code"><code class="language-html">&lt;p&gt;{{ user.name }} has to do:&lt;/p&gt;
&lt;ul&gt;
    {% for item in user.tasks -%}
         &lt;li&gt;{{ item.name }}&lt;/li&gt;
    {% endfor -%}
&lt;/ul&gt;</code></pre>

    <h2>Get started</h2>
    <p>
        If you use <a href="https://nuget.org">NuGet</a>, then the easiest way to get DotLiquid is to install the <a href="https://www.nuget.org/packages/dotliquid">DotLiquid NuGet package</a>.
        <br /><br />

        Otherwise, grab the latest bits from <a href="https://github.com/dotliquid/dotliquid">github</a> and compile it. All compiled builds are available from <a href="https://ci.appveyor.com/project/tgjones/dotliquid/build/artifacts">AppVeyor</a>.
        <br /><br />

        Read our <a href="@Url.Action("Index", "docs")">documentation</a>. Ask questions on
        <a href="https://gitter.im/dotliquid/dotliquid">Gitter</a>, the
        <a href="https://groups.google.com/forum/#!forum/dotliquid">DotLiquid Google Group</a> or <a href="https://twitter.com/dotliquid">Twitter</a>.
    </p>

    <h2>Projects that use DotLiquid</h2>
    <ul>
        <li><a href="https://github.com/SuaveIO/suave">Suave.DotLiquid</a></li>
        <li><a href="https://github.com/Code52/Pretzel">Pretzel</a></li>
        <li><a href="https://github.com/dotnet/docfx">Docfx</a></li>
        <li><a href="https://github.com/miseeger/DotLiquid.Mailer">DotLiquid.Mailer</a></li>
        <li><a href="https://www.nuget.org/packages/Suave.DotLiquid/">DotLiquid Template Engine for Suave.IO</a></li>
        <li><a href="https://www.nuget.org/packages/DotLiquid.ViewEngine">DotLiquid View Engine for ASP.NET MVC</a></li>
        <li><a href="https://www.nuget.org/packages/Nancy.Viewengines.DotLiquid">DotLiquid View Engine for Nancy</a></li>
    </ul>
</div>
