html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 250px;
}
/* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -250px;
    /* negative value of footer height */
    height: 280px;
    clear: both;
    background-color: #ECECEC;
    font-size: 14px;
}
/*Opera Fix*/

body:before {
    /* thanks to Maleika (Kohoutec)*/
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* thank you Erik J - negate effect of float*/
}
/* new clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/** html .clearfix             { zoom: 1; }  IE6 */
/**:first-child+html .clearfix { zoom: 1; }  IE7 */

* html .clearfix {
    display: inline-block;
}
/* IE6 */

*:first-child + html .clearfix {
    display: inline-block;
}
/* IE7 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    background: white url(../img/bg.png) repeat-x;
    color: black;
    line-height: 1.5;
}

#wrap, #footer-content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    float: left;
    width: 570px;
    color: #333;
}

#docs-content {
    float: left;
    width: 100%;
    color: #333;
}

a {
    color: #00CCCC;
}

#content, #docs-content, #side {
    padding-top: 50px;
    padding-bottom: 20px;
}

#content h1, #side h1, #docs-content h1 {
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 10px;
}

#content h2, #side h2, #docs-content h2 {
    font-weight: normal;
    font-size: 24px;
    padding-top: 20px;
}

#docs-content h3 {
    padding-top: 10px;
}

p {
    color: #666;
}

blockquote p {
    color: #99CC66;
    font-size: 24px;
    font-style: italic;
    padding: 20px 0;
    text-align: center;
}

#content ul, #side ul, #docs-content ul {
    margin-left: 5px;
}

#content ul li, #side ul li, #docs-content ul li {
    list-style-type: disc;
    margin-left: 20px;
}

.sample-code {
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #DCEDCA;
    padding: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

.smaller-code {
    font-size: 12px;
}

.result, .result-html {
    background-color: #EEEEEE;
    border: 2px solid #DDD;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
}

p span.code {
    color: #007777;
    font-weight: bold;
}

#header {
    padding-top: 30px;
}

#logo, #header-menu {
    float: left;
}

#header-menu {
    margin-left: 30px;
}

#header-menu li {
    float: left;
    padding: 0 30px;
    line-height: 90px;
    text-transform: uppercase;
}

#header-menu li a {
    color: black;
    text-decoration: none;
    padding: 0 8px;
}

#header-menu li a:hover, #header-menu li a.active {
    border-bottom: 3px #00CCCC solid;
}

#try {
    line-height: 90px;
    float: right;
}

#try img {
    vertical-align: middle;
}

#side {
    width: 370px;
    float: right;
}

#copyright {
    bottom: 0px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

#footer-content h5 {
    font-size: 14px;
    font-weight: bold;
}

.footer-col {
    float: left;
    margin: 20px 20px 0 0;
    padding: 10px;
    background-color: #F6F6F6;
    height: 180px;
    width: 205px;
}

.footer-col.last {
    margin-right: 0px;
}

.footer-col ul {
    margin-bottom: 10px;
}

.footer-col p {
    margin-bottom: 5px;
}

/* Try online */

.sample {
    -moz-border-radius: 10px;
    border-radius: 10px;
}

textarea
{
	width: 560px;
	height: 200px;
	margin-bottom: 5px;
	resize: none;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 14px;
}

#templateCode {
    height: 200px;
    margin-top: 5px;
    background-color: #EEEEEE;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}